# Ignore everything                                                                           
/*                                                                                            
                                                                                              
# But not .vuepress directory                                                                 
!/.vuepress 
!/.gitignore